INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing
nob-sme.autogen.hfst
sme-nob.autobil.bin
sme-nob.autogen.bin
sme-nob.automorf.hfst
sme-nob.automorf.hfst.ol
sme-nob.lex.bin
sme-nob.mode
sme-nob.rlx.bin
sme-nob.t1x.bin
sme-nob.t2x.bin
sme-nob.t3x.bin
sme-nob.t4x.bin
sme-nob.v1x.bin
sme-nob.v2x.bin
sme-nob.v3x.bin
sme-nob.v4x.bin
sme.lexc.hfst
sme.twol.hfst
update-morph/.deps/
update-morph/.libs/
update-morph/INSTALL
update-morph/Makefile
update-morph/Makefile.in
update-morph/aclocal.m4
update-morph/autom4te.cache/
update-morph/config.guess
update-morph/config.log
update-morph/config.status
update-morph/config.sub
update-morph/configure
update-morph/depcomp
update-morph/install-sh
update-morph/liblt.pyc
update-morph/libltpy.la
update-morph/libltpy.lo
update-morph/libltpy.o
update-morph/libtool
update-morph/ltmain.sh
update-morph/missing
WER/*.MT
WER/*.res
WER/allMT
WER/allnob
WER/allsme
WER/allbeam
dev/Pending_tests.html
dev/Regression_tests.html
modes/
.deps/
gisting-eval/gists.php
gisting-eval/*.MT
